<!-- intro -->
<div class="text-center">
    <h1 class="display-1 mt-5 mb-4">SIGNUP</h1>
    <p>
        Thank you for using our service.
    </p>
</div>


<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <div class="card">
                <div class="card-body">
                    <br />
                    <br />
                    <form action="/user/signup" method="post">

                        <div class="form-grop row">
                            <label for="ID" class="col-md-4 col-form-label text-md-right">ID</label>
                            <div class="col-md-6">
                                <input type="text" id="id" class="form-control" name="user_uid" required autofocus>
                            </div>
                        </div>
                        <br />

                        <div class="form-group row">
                            <label for="PASSWORD" class="col-md-4 col-form-label text-md-right">Password</label>
                            <div class="col-md-6">
                                <input type="password" id="pw" class="form-control" name="user_password" required>
                            </div>
                        </div>

                        <div class="form-group row">
                            <label for="NAME" class="col-md-4 col-form-label text-md-right">Name</label>
                            <div class="col-md-6">
                                <input type="text" id="name" class="form-control" name="name" required autofocus>
                            </div>
                        </div>

                        <div class="col-md-6 offset-md-4">
                            <button type="submit" class="btn btn-primary">
                                SIGN UP
                            </button>
                        </div>
                    </form>
                    <br />
                    <br />
                </div>
            </div>
        </div>
    </div>
</div>